@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
	background: #55ACEE;
	text-align: center;
	color: #FFFFFF;
	font-family: 'Lato', sans-serif;
	box-sizing: border-box;
}

main {
	margin: 0 auto;
}

h2, h3 {
	font-weight: 100;
}

h1 {
	margin-top: 100px;
	height: 50px;
}

.box {
	margin-top: 80px;
	height: 150px;
}

button {
	margin: 40px 0;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
	background-color: #55ACEE;
	width: 340px;
	height: 40px;
	cursor: pointer;
	padding: 10px;
	color: #FFFFFF;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0; }
    ul li {
      display: block;
      width: 500px;
      height: auto;
      border: 1px solid;
      padding: 20px;
      margin-bottom: 30px;
      color: #fff; }
  
  img {
    width: 220px;
    padding: 0 20px 20px 0;
    float: left; 
  }